@model Curso;
@{
    ViewData["Title"] = "Edición de Curso";
}
<h2>@ViewData["Title"]</h2>
<p><i>@ViewBag.Fecha</i></p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="POST">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label"></label>
            <input type="text" asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
            <br />
            <label asp-for="Jornada"></label>
            @Html.DropDownList(
            "Jornada",
            Html.GetEnumSelectList<TiposJornada>(),
            "Seleccione una jornada",
            new{@class="form-control"}
            )
            <span asp-validation-for="Jornada" class="text-danger"></span>
            <br />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="btn btn-secondary" asp-action="MultiCurso">Cancelar</a>
    </div>
</form>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}