@model IEnumerable<Curso>;
@{
    ViewData["Title"] = "Información de los Cursos";
}
<h2>@ViewData["Title"]</h2>
<strong>Listado de todos los cursos</strong>
<p><i>@ViewBag.Fecha</i></p>
<form method="POST">
<input class="btn btn-success btn-primary-custom" type="submit" asp-action="Create" value="Crear nuevo curso"/>
</form>
<partial name="_ListaObjetosEscuela" model="@Model" />
