@model Asignatura;
@{
    ViewData["Title"] = "Creación de Asignatura";
}
<h2>@ViewData["Title"]</h2>
<p><i>@ViewBag.Fecha</i></p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="POST">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input class="form-control" asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
        <br />
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="btn btn-info btn-primary-custom" asp-action="MultiAsignatura">Ver Asignaturas</a>
    </div>
</form>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}