@model EscuelaWeb.Models.Asignatura

@{
    ViewData["Title"] = "Editar asignatura";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarreraId" class="control-label">Carrera</label>
                <select asp-for="CarreraId" class="form-control" asp-items="ViewBag.CarreraId"></select>
                <span asp-validation-for="CarreraId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <br />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre Asignatura</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" asp-route-pagina="@ViewBag.Pagina" value="Enviar" class="btn btn-primary" />
                <a class="btn btn-info btn-primary-custom" asp-route-pagina="@ViewBag.Pagina" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
