@model Asignatura;
@{
    ViewData["Title"] = "Información Asignatura";
}
<h2>@ViewData["Title"]</h2>
<strong>Datos de Asignatura</strong>
<p>
    Nombre: @Model.Nombre<br/>
    Id asignatura: @Model.Id
</p>
