@model ListaViewModel
@{
    ViewData["Title"] = "Información de las Asignaturas";
}
<h2>@ViewData["Title"]</h2>
<strong>Listado de todas las asignaturas</strong>
<p><i>@ViewBag.Fecha</i></p>
<form method="POST">
    <input class="btn btn-success btn-primary-custom" type="submit" asp-action="Create" value="Crear nueva asignatura" />
</form>
<partial name="_ListaAsignaturas" model="@Model" />
