@model EscuelaWeb.Models.EvaluacionCreacionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Evaluacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label">Alumno</label>
                <input asp-for="AlumnoId" class="form-control" readonly hidden />
                <input asp-for="Alumno" class="form-control" value="@Model.Alumno.Nombre" readonly />
                <span asp-validation-for="AlumnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AsignaturaId" class="control-label">Asignatura</label>
                <select asp-for="AsignaturaId" class="form-control" asp-items="Model.Asignaturas"></select>
                <span asp-validation-for="AsignaturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEvaluacion" class="control-label">Tipo de evaluación</label>
                <select asp-for="TipoEvaluacion" class="form-control" asp-items="Html.GetEnumSelectList<TipoEvaluacion>()"></select>
                <span asp-validation-for="TipoEvaluacion" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}
