@model IEnumerable<ObjetoEscuelaBase>;
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scoope="col">No.</th>
            <th scoope="col">Nombre</th>
            <th scoope="col">Id</th>
        </tr>
    </thead>
    <tbody>
        @{
            int cont=1;
        }
        @foreach (var obj in Model)
        {
            <tr>
                <th scope="row">@cont</th>
                <td>@obj.Nombre</td>
                <td>@obj.Id</td>
            </tr>
            cont++;
        }
    </tbody>
</table>